# Python
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
MagFluid3S/test.ipynb

# Docker
.dockerignore
Dockerfile

# Claude
.claude/
CLAUDE.md

# Internal Info
MagFluid3S/dev/

# Build Artifacts
*_linux
*.zip